.main_chat
  .main_chat__group_info
    .main_chat__group_info__left_box
      .main_chat__group_info__left_box__current
        = @group.name
      %ul.main_chat__group_info__left_box__member
        Member : 
        %li.main_chat__group_info__member__name
          - @group.users.each do |user|
            = user.name
    .main_chat__group_info__edit
      = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get 
  .main_chat__message_list
    .main_chat__message_list__messages
      = render @messages
        

    -# .main_chat__message_list__messages
    -#   .main_chat__message_list__messages__upper
    -#     %a.main_chat__message_list__messages__upper__talker
    -#       kimu
    -#     %a.main_chat__message_list__messages__upper__date
    -#       2019/11/20(Wed) 18:43:01
    -#   %p.main_chat__message_list__messages__text
    -#     hello

  -# .main_chat__form
  -#   %form.main_chat__form__new_message
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         =icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#   %input{type: "submit", value: "Send", class: "main_chat__form__submit-btn"}


  .main_chat__form
    = form_for [@group, @message] do |f|
      .main_chat__form__new_message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'main_chat__form__submit-btn'

        -#   = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        -#   = f.label :image, class: 'input-box__image' do
        -#     = icon('fas', 'image', class: 'icon')
        -#     = f.file_field :image, class: 'input-box__image__file'
        -# = f.submit 'Send', class: 'main_chat__form__submit-btn'


  -# .main_chat
  -# .main_chat__group_info
  -#   .main_chat__group_info__left_box
  -#     .main_chat__group_info__left_box__current
  -#       test
  -#     %ul.main_chat__group_info__left_box__member
  -#       Member : 
  -#       %li.main_chat__group_info__member__name
  -#         masa
  -#   .main_chat__group_info__edit
  -#     Edit
  -# .main_chat__message_list
  -#   .main_chat__message_list__messages